* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

.backgroundDecoration {
    background-color: black
}

.navigationBar {
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    opacity: 1;
}

.firmLogo {
    height: 80px;
    width: 150px;
    display: flex;
    align-items: center;
}

.menuLinks {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    transition: .2s ease;
    text-align: center;

}

.menuLinks:last-child {
    margin-right: 0px;
}

.menuLinks:hover {
    color: #1f51ff;
}

.login {
    text-decoration: none;
    background-color: #1f51ff;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 6px;
    transition: .3s ease;

}

.login:hover {
    background-color: #fff;
    color: #1f51ff;

}

.register {
    text-decoration: none;
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 6px;
    transition: .3s ease;
}

.register:hover {
    background-color: #fff;
    color: red;


}

.menuList {
    margin-right: 300px;
    align-items: center;
    display: flex;
}

.menuItem {
    list-style-type: none;
}

.menuItem {
    margin-right: 15px;
}

.header {

    height: 60vh;
    display: flex;
    justify-content: start;
    align-items: start;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px; */
}

.headerTitleContainer {

    margin-top: 50px;
    margin-left: 100px;
    align-items: start;
}

.headerTitle {
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    width: 70%;
}

.headerDiscription {
    margin-top: 60px;
    color: #fff;
    text-transform: uppercase;
    height: 60px;
    width: 100%;
}

.headerSlogan {
    margin-top: 40px;
    color: #fff;
    text-transform: uppercase;
    height: 60px;
    width: 60%;
}

.headerGraduated {
    height: 60px;
    margin-top: 245px;
    text-align: center;
    margin-right: 20px;
}

.headerGraduated:last-child {
    margin-right: 0px;
}

.graduatedTitle {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #dbdbdb;
}

.graduatedInfo {

    text-transform: uppercase;
    color: #dbdbdb;
}

.headerImgContainer {
    margin-left: 50px;
    background-size: cover;
    background-image: url(/Demo-WebAcademy/pages/home-page/img/57831009origa.jpeg);
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.Location {
    padding: 1px 10px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    background-color: #1f51ff;
    margin-left: 50px;
    margin-top: 90px;


}

.callButton {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: red;
    border: 1px solid red;
    border-radius: 6px;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: .3s ease;
    position: absolute;
    margin-top: 300px;
    margin-left: 648px;
}

.callButton:hover {
    color: red;
    background-color: #fff;

}

.popularCourses>.title {
    text-align: center;
    margin: 20px 0px;
}

.popularCourses {
    padding: 20px 0px 50px;
}

.courseBoxContainer {
    display: flex;
    justify-content: space-around;
}

.courseBox {
    width: 250px;
    background-color: rgb(255, 98, 98);
    padding: 15px;
}

.courseImgContainer {
    height: 125px;
    background-color: rgb(67, 67, 67);
}

.courseDescription {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buyButton {
    padding: 10px;

}